:root {
  --color-primary: #ff806d;
  --color-heading: #2e4861;
  --color-body: #585b60;
  --border-radius: 30px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-body);
  font-size: 1.5rem;
  font-weight: 350;
}
/* Typography */
h1,
h2,
h3 {
  font-weight: 600;
}
main h1,
h2,
h3 {
  color: var(--color-heading);
}
h1 {
  font-size: 2.7rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  margin-top: 0;
}

/* btn */
.btn {
  padding: 0.9rem 1.4rem;
  border-radius: var(--border-radius);
  border: 0;
  font-weight: 600;
  margin-top: 2rem;
  transition: 0.5s;
}
.btn--white {
  background-color: white;
  color: var(--color-primary);
}
.btn--transparent {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
/* header */
.nav {
  color: white;
  background-color: var(--color-primary);
  text-align: center;
  padding: 4rem 0 6rem 0;
  border-radius: 0 0 0 20%;
  background-image: url(../images/bg-pattern-intro-mobile.svg);
  background-position: left;
}
.nav__header {
  display: flex;
  justify-content: space-between;
  margin-inline: 1rem;
}
.nav__header i {
  font-size: 2.4rem;
}
/* main */
main {
  text-align: center;
  padding-inline: 1rem;
}

@media screen and (min-width: 550px) {
  .grid {
    display: grid;
  }
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
  }
  .main__features {
    text-align: left;
    margin-left: 4rem;
  }

  .main__title {
    text-align: center;
    margin-bottom: 0;
  }
  br {
    display: none;
  }
  .features-title {
    margin: 4rem 0 1rem;
  }
  .features__img {
    width: 100%;
    height: 80%;
  }

  .main__features-titles {
    grid-column: 1;
    grid-row: 1;
  }
  @media screen and (min-width: 950px) {
    .features__img {
      height: 120%;
    }
  }
}
.btn--white:hover {
  background-color: var(--color-primary);
  color: white;
}
.btn--transparent:hover {
  background-color: white;
  color: var(--color-primary);
}
/* callout */
.callout {
  border: 1px solid black;
  background-color: #30314d;
  color: white;
  align-items: center;
  position: relative;
  margin-top: 10rem;
  border-radius: 0 70px;
  padding-inline: 0;
}
.callout h2 {
  color: white;
  margin-top: 0;
}
.callout__img-phone {
  position: absolute;
  top: -10rem;
  left: 0rem;
}
.callout__img-circle {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
@media screen and (min-width: 550px) {
  .callout {
    grid-template-rows: 250px;
  }
  .callout__img-phone {
    top: 0;
    height: 300px;
    width: 30%;
    left: 10%;
  }
  .callout__content {
    text-align: left;
  }
}
/* collapsible */
.collapsible {
  margin-top: 5rem;
}
.collapsible__content {
  align-self: center;
  justify-self: center;
}
.collapsible img {
  width: 100%;
}
@media screen and (min-width: 550px) {
  .collapsible__content {
    text-align: left;
  }
}
/* footer */
.footer {
  background-color: #24242c;
  border-radius: 0 70px 0 0;
  color: #bdbec3;
  padding-block: 2rem;
}
footer h2,
h3 {
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}
.media {
  text-align: center;
}
.social {
  margin-left: 1.5rem;
}
i {
  margin-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 10px;
}
i:hover {
  background-color: #111;
  transform: scale(1.1);
}
ul {
  list-style: none;
  text-align: center;
}
.list-items {
  margin-top: 1rem;
}
@media screen and (min-width: 550px) {
  .grid--cols--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .social {
    margin-top: 6rem;
  }
}
