*,
*::after,
*::before {
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: #210e6b;
  --color-secondary: #00d9ff;
  --color-accent: #2584ff;
  --color-orange: #ff3400;
  --color-body: #5d5d5d;
  --border-radius: 20px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
/* typography */
h1,
h2,
h3 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  body {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* link */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-orange);
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 4rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.2s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}

/* badge */
.badge {
  border-radius: var(--border-radius);
  font-size: 2rem;
  padding: 0.5rem 2rem;
  color: white;
  font-weight: 600;
}
.badge--primary {
  background-color: var(--color-secondary);
}
.badge--secondary {
  background-color: var(--color-primary);
}
.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/* Lists */
.list {
  color: var(--color-primary);
  list-style: none;
}
.list--inline {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
}
.list__items--inline {
  margin: 1rem 3rem;
}
.list__items--block {
  margin: 1rem 0;
}
.list--block {
  list-style-image: url(/tick.svg);
  padding-left: 3rem;
}
/* icon */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-accent);
  /* margin-right: 1rem; */
}

.icon-container {
  width: 64px;
  height: 64px;
  background-color: #f3f9fa;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
